* {
    BG:    #1e1e2e;
    BGA:   #181825;
    FG:    #d9e0ee;
    FGA:   #f28fad;
    BDR:   #89b4fa;
    SEL:   #89b4fa;
    UGT:   #89b4fa;
    IMG:   #FAE3B0ff;
    OFF:   #575268ff;
    ON:    #ABE9B3ff;
}
